---
---
$base-font-family: "Inconsolata", monospace;
$code-font-family: "Inconsolata", monospace;
$base-font-size: 14px;
$background-color: #ffffcc;
$base-font-weight: 500;

@import "minima";
.site-header {border-bottom: 2px solid #bbbbbb;}
.site-footer {border-top: 2px solid #bbbbbb;}
table {width: 25%; font-size: $small-font-size;}
blockquote {border-left: 1px solid #dddddd; font-size: $small-font-size;}
