---
---
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
$base-font-family: "IBM Plex Mono", monospace;
$code-font-family: "IBM Plex Mono", monospace;
$spacing-unit: 28px;
$base-font-size: 14px;
$base-font-weight: 500;
$text-color: #103050;
$background-color: #ffffcc;

@import "minima";
.site-title {font-family: "Bungee Shade", cursive; }
.site-header {border-bottom: 2px solid #304050;}
.site-footer {border-top: 2px solid #304050;}
table {width: 25%; font-size: $small-font-size;}
blockquote {border-left: 1px solid #304050; font-size: $small-font-size;}
