---
---
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,700;1,400&display=swap');
$base-font-family: "IBM Plex Mono", monospace;
$code-font-family: "IBM Plex Mono", monospace;
$base-font-size: 14px;
$background-color: #ffffcc;
$border-color-01: #ffbbcc;
$border-color-02: #ffbbcc;
$border-color-03: #ffbbcc;
$base-font-weight: 500;

@import "minima";
